[alias]
  br = branch
  co = commit
  ch = checkout
  chb = checkout -b
  dif = diff HEAD
  f = fetch
  file = commit -eF .gitcommit
  m = merge
  p = pull
	s = status
[commit]
  template = ~/.gitmessage
[core]
	editor = vim
  excludesfile = ~/.gitignore
[diff]
	colorMoved = zebra
	colorMovedWS = ignore-space-change
  tool = vimdiff
[log]
  date = relative
  decorate = auto
[merge]
  commit = no
	defaultToUpstream = true
  ff = no
[pull]
	rebase = false
[push]
	default = current
[user]
	email = mail@adamjp.com
	name = Adam Peterson
