[alias]
        br = branch
        co = commit
        ch = checkout
        chb = checkout -b
        dif = diff HEAD
        f = fetch
        m = merge
        p = pull
	s = status
[commit]
  template = ~/.gitmessage
[core]
	editor = vim
[diff]
	colorMoved = zebra
	colorMovedWS = ignore-space-change
[log]
        date = relative
        decorate = auto
[merge]
  commit = no
	defaultToUpstream = true
  ff = no
[pull]
	rebase = false
[push]
	default = current
[user]
	email = mail@adamjp.com
	name = Adam Peterson
